{:paths ["src" "src-cljs" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.3"}
         org.clojure/clojurescript {:mvn/version "1.11.4"}
         http-kit/http-kit         {:mvn/version "2.5.3"}
         compojure/compojure       {:mvn/version "1.6.2"}
         ring/ring-defaults        {:mvn/version "0.3.3"}
         hiccup/hiccup             {:mvn/version "1.0.5"}   ;; included in reagent
         reagent/reagent           {:mvn/version "1.1.0"}
         cljsjs/react              {:mvn/version "17.0.2-0"}
         cljsjs/react-dom          {:mvn/version "17.0.2-0"}
         org.clojure/core.async    {:mvn/version "1.5.648"}
         jarohen/chord             {:mvn/version "0.8.1"
                                    :exclusions  [org.clojure/core.async]}}
 :aliases
 {:run      {:main-opts ["-m" "wavelength.wavelength"]}

  :build    {:deps       {io.github.seancorfield/build-clj
                          {:git/tag "v0.6.7" :git/sha "22c2d09"}}
             :ns-default build}
  :dev      {:extra-paths ["dev"]}
  :repl/run {:main-opts ["-r" "-m" "wavelength.main"]}
  :repl/fig {:extra-deps {com.bhauman/figwheel-main       {:mvn/version "0.2.16"}
                          com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
             :main-opts  ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
