{:paths ["src" "src-cljs" "resources"]
 :deps  {org.clojure/core.async    {:mvn/version "1.5.648"}
         jarohen/chord             {:mvn/version "0.8.1"
                                    :exclusions  [org.clojure/core.async]}

         org.clojure/clojure            {:mvn/version "1.11.1"}
         org.clojure/tools.logging      {:mvn/version "1.2.4"}
         http-kit/http-kit              {:mvn/version "2.5.3"}
         compojure/compojure            {:mvn/version "1.6.2"}
         ring/ring-defaults             {:mvn/version "0.3.3"}
         hiccup/hiccup                  {:mvn/version "1.0.5"}   ;; included in reagent
         org.slf4j/slf4j-api            {:mvn/version "1.7.36"}
         ch.qos.logback/logback-classic {:mvn/version "1.2.11"}

         org.clojure/clojurescript {:mvn/version "1.11.60"}
         reagent/reagent           {:mvn/version "1.1.0"}
         cljsjs/react              {:mvn/version "17.0.2-0"}
         cljsjs/react-dom          {:mvn/version "17.0.2-0"}}

 :aliases
 {:dev       {:extra-paths ["dev"]}

  :run       {:main-opts ["-m" "wavelength.main"]}

  :fig {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                     com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                     org.slf4j/slf4j-nop {:mvn/version "1.7.30"}}
        :extra-paths ["target" "test"]}
  ;; -M:fig:repl
  :repl {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
  ;; -M:fig:min
  :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
          :ns-default build}}
 }
